<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shapez2 Solver</title>
</head>
<body>
    <!-- a file type with id fileInput, that allow us to upload file -->
    <input type="file" id="fileInput">

    <!-- a button to call a script function -->
    <button id="submit_image">Submit image</button>

    <!-- a button to call a script function -->
    <button id="run_solver">Run Solver</button>

    <!-- a canvas for us to click-->
    <canvas id="canvas" width="800" height="600" style="border:1px solid black;"></canvas>

    <!-- a canvas to show preview -->
    <canvas id="simple_coordinates_canvas" width="800" height="600" style="border:1px solid black;"></canvas>

    <!-- a canvas to show preview -->
    <canvas id="result_canvas" width="800" height="600" style="border:1px solid black;"></canvas>
    
    <!-- a place to show the result as preformatted text -->
    <button id="copy_blueprint">Copy Blueprint</button>
    <code id="blueprint_text" style="display: block; white-space: pre-wrap; word-break: break-word;"></code>

    <!-- include -->
    <script src="/static/main.js" defer></script>
</body>
</html>
